
.pieCapOne {
    display:inline-block;
    vertical-align:top;
}

.pieCapTwo {
    display:inline-block;
}

.pieChart {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100px;
    background-color: rgb(136, 143, 255);
    display:inline-block;
}

.pieOuterOne {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    clip: rect(0px, 100px, 100px, 0px);
    transform: rotate(0deg);
}

.pieInnerOne {
    background-color: rgb(68, 79, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    clip: rect(0px, 50px, 100px, 0px);
    transform: rotate(180deg);
}

.pieOuterTwo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    clip: rect(0px, 100px, 100px, 50px);
    transform: rotate(180deg);
}

.pieInnerTwo {
    background-color: rgb(68, 79, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 100px; 
    clip: rect(0px, 50px, 100px, 0px);
    transform: rotate(54deg);
}

body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

::-webkit-scrollbar { 
display: none; 
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.row:first-child {
    min-height: 100px;
}

a:hover {
    cursor: pointer;
}

.box {
    margin: 5px;
    cursor: pointer;
    
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.halfbox:first-child {
    margin-top: 5px;
    margin-bottom: 5px;
}

.halfbox {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}


.content {
    padding-bottom: 50px;
    transition: all 2s linear;
}

.fill {
    width: 100%;
}

/*
.containerMain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
*/


.close {

}

.close:after {
    content: "\00d7";
}

.close:hover {
  opacity: 1;
}

/*
button {
    display: inline;
    width: 50%;
    height: 60px;
}

.containerSide {
    order: 9;
    width: 45%;
}
*/


.hide {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}

.show {
    display: inline-flex;
    opacity: 1;
    transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -webkit-transition: opacity 0.4s ease-out;
}

.green {
    background-color: chartreuse;
    order: 0;
}

.greenContent {
    order: 1;

}

.gray {
    background-color: dimgrey;
    order: 2;
}

.grayContent {
    order: 3;
}

.red {
    background-color: darkred;
    order: 4;
}

.redContent {
    order: 5;

}

.blue {
    background-color: cornflowerblue;
    order: 6;
}

.blueContent {
    order: 7;
    width: 100%;
}

.purple {
    background-color: coral;


}

.purpleContent {
    
}

.orange {
    background-color: orange;

    
}

.orangeContent {
    

}
.rose {
    background-color: magenta;

    order: 11;
}

.roseContent {
    order: 12;

}

