
#toast{
    display:none;
    width:200px;
    height:auto;
    position:fixed;
    left:30%;
    top: 56%;
    background-color:#fff;
    color:#000;
    padding:9px;
    text-align:center;
    border-radius:6px;
    z-index: 15;
    -webkit-box-shadow:0 0 24px -1px rgba(56,56,56,1);
    -moz-box-shadow:0 0 24px -1px rgba(56,56,56,1);
    box-shadow:0 0 24px -1px rgba(56,56,56,1)
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {display:none;}

.secContent {
    display: none;
}

